/**************************

          GENERAL

**************************/

#game{
  width:960px;
  height:500px;
  margin:0 auto;
  border:3px solid black;
  position:relative;
  overflow:hidden;
}

#ball{
  width:50px;
  height:50px;
  border-radius:50px;
  position:absolute;
  top:50px;
  left:300px;
  z-index:98;
}

.cube{
  width: 100px;
  height: auto;
  margin: 15px /*auto*/;
  z-index: 20;
}

.halfCube{
  width: 100px;
  height: auto;
  margin: 15px /*auto*/;
  z-index: 99;
}

@font-face {
  font-family: "Pixeled";
  src: url("fonts/Pixeled.ttf");
}
/*********************

         MENU

*********************/

#menu{
  width: 360px;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  z-index: 300;
  margin-left: 300px;
  padding-bottom: 10px;
  
  
}

#playButton, #shareButton, #joinUsButton{
  width: 360px;
  height: 60px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;

}
#playButton{
  background-color: #6bb9f0;
 
  
}

#playButton:hover{
  background-color: #7fc5ef;
  transition: all linear 0.3s;
}

#shareButton{
  background-color: #f4b350;

  
}

#shareButton:hover{
  background-color: #f4bd73;
  transition: all linear 0.3s;
}

#joinUsButton{
  background-color: #3fc380;
  
}

#joinUsButton:hover{
  background-color: #5acc8e;
  transition: all linear 0.3s;
}

#menu h1, #menu p{
  text-align: center;
  color: #ffffff;
  font-family: "Pixeled", sans-serif;

}
#menu h1{
  font-size: 50px;
  cursor:default;
  
}

#menu p{
  padding: 10px;
  font-size: 20px;
  margin: 0 auto;
  
}

/*********************

      BACKGROUND

*********************/

.bg{
  width: 960px;
  height: 500px;;
  position: absolute;
  bottom: 0;
}

#bg_far{
  background-image: url("../images/background_0.png");
  background-size: cover;
  background-position: bottom;
}

#bg_middle{
  background-image: url("../images/background_1.png");
  background-size: cover;
  background-position: bottom;
  
}

#bg_front{
  background-image: url("../images/background_2.png");
  background-size: cover;
  background-position: bottom;
 
}

/*********************

        SCORE

*********************/

#score{
  position : absolute;
  top: -4px;
  left: 5px;
  font-family: "Pixeled", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
}

/*********************

        CUBES

*********************/

#topCube{
  margin-top: 37px;
  position: absolute;
  top: 0;
  left: 940px;
}

#halfTopCube{
  position: absolute;
  top: 0;
  left: 940px;
  margin-top: 36px;
  margin-left: 15px;
}

#midCube{
  position: absolute;
  top: 157px;
  left: 940px;
}

#halfMidCube{
  margin-left: 15px;
  margin-top: 22px;
  position: absolute;
  top: 150px;
  left: 940px;
}

#botCube{
  position: absolute;
  top: 307px;
  left: 940px;
}

#halfBotCube{
  margin-left: 15px;
  margin-top: 21px;
  position: absolute;
  top: 300px;
  left: 940px;
}

#topCube2{
  margin-top: 37px;
  position: absolute;
  top: 0;
  left: 1340px;
}

#halfTopCube2{
  margin-left: 15px;
  margin-top: 37px;
  position: absolute;
  top: 13;
  left: 1340px;
}

#midCube2{
  margin-bottom: 85px;
  position: absolute;
  top: 157px;
  left: 1340px;
}

#halfMidCube2{
  margin-left: 17px;
  margin-top: 21px;
  position: absolute;
  top: 150px;
  left: 1340px;
}

#botCube2{
  position: absolute;
  top: 307px;
  left: 1340px;
}

#halfBotCube2{
  margin-left: 17px;
  margin-top: 21px;
  position: absolute;
  top: 300px;
  left: 1340px;
}

/*********************

        WIRES

*********************/

.wire{
  position: absolute;
  left: 0;
  width: 1040px; 
}

#wire1{
  top: 79px;
}

#wire2{
  top: 214px;
}

#wire3{
  top: 364px;
}


/************************

      GAME OVER

************************/

.gameOver{
    position: absolute;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    background-color: rgba(255,255,255,0.8);
    margin: 0 auto;
    left: 300px;
    width: 360px;
    top: 30px;
    height: 400px;
    font-family: pixeled;
    display: none;
    z-index: 200;
    }

.gameOver h4{
    margin-top: 0px;
    padding-bottom: 20px;
}


.gameOver h1{
 margin-bottom: 0;
    margin-top: 10px;
}

.gameOver .button1 {
    background-color: #6bb9f0;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.gameOver .button2 {
    background-color: #f4b350;
    margin-bottom: 20px;
        padding-top: 10px;
    padding-bottom: 10px;
    
}

.gameOver .button3 {
    background-color: #3fc380;
        padding-top: 10px;
    padding-bottom: 10px;
    }

.gameOver .button1:hover {
    background-color: #7fc5ef;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.gameOver .button2:hover {
    background-color: #f4bd73;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.gameOver .button3:hover {
    background-color: #5acc8e;
        padding-top: 10px;
    padding-bottom: 10px;
    }

.gameOver div[class^='button'] a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}


.gameOver div[class^='button']:hover a{
    transition: all linear 0.3s;

}