/**************************

          GENERAL

**************************/

#jeu{
  width:960px;
  height:400px;
  margin:0 auto;
  border:3px solid black;
  position:relative;
  overflow:hidden;
}

#balle{
  width:50px;
  height:50px;
  border-radius:50px;
  position:absolute;
  top:50px;
  left:300px;
}

.cube{
  width:100px;
  height:100px;
  margin:15px /*auto*/;
}

/*********************

      BACKGROUND

*********************/

.bg{
  width: 960px;
  height: 500px;;
  position: absolute;
  bottom: 0;
}

#bg_far{
  background-image: url("../images/background_0.png");
  background-size: cover;
  background-position: bottom;
  
}

#bg_middle{
  background-image: url("../images/background_1.png");
  background-size: cover;
  background-position: bottom;
  
}

#bg_front{
  background-image: url("../images/background_2.png");
  background-size: cover;
  background-position: bottom;
 
}

/*********************

        CUBES

*********************/

#topCube{
  margin-top:30px;
  position:absolute;
  top:0;
  left:940px;
  margin-top:31px;
}

#midCube{
  margin-bottom:85px;
  position:absolute;
  top:150px;
  left:940px;
}

#botCube{
  position:absolute;
  top:300px;
  left:940px;
}

/*********************

        FILS

*********************/

#fil1{
  position:absolute;
  top:80px;
  left:0;
}

#fil2{
  position:absolute;
  top:214px;
  left:0;
}

#fil3{
  position:absolute;
  top:364px;
  left:0;
}