/**************************

          GENERAL

**************************/

#game{
  width:960px;
  height:400px;
  margin:0 auto;
  border:3px solid black;
  position:relative;
  overflow:hidden;
}

#ball{
  width:50px;
  height:50px;
  border-radius:50px;
  position:absolute;
  top:50px;
  left:300px;
}

.cube{
  width:100px;
  height:100px;
  margin:15px /*auto*/;
}

/*********************

      BACKGROUND

*********************/

.bg{
  width: 960px;
  height: 500px;;
  position: absolute;
  bottom: 0;
}

#bg_far{
  background-image: url("../images/background_0.png");
  background-size: cover;
  background-position: bottom;
  
}

#bg_middle{
  background-image: url("../images/background_1.png");
  background-size: cover;
  background-position: bottom;
  
}

#bg_front{
  background-image: url("../images/background_2.png");
  background-size: cover;
  background-position: bottom;
 
}

/*********************

        SCORE

*********************/

#score{
  position : absolute;
  top: 5px;
  left: 5px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #ffffff;
  z-index: 99;
}

/*********************

        CUBES

*********************/

#topCube{
  margin-top:30px;
  position:absolute;
  top:0;
  left:940px;
}

#midCube{
  margin-bottom:85px;
  position:absolute;
  top:150px;
  left:940px;
}

#botCube{
  position:absolute;
  top:300px;
  left:940px;
}

/*********************

        FILS

*********************/

.wire{
  position:absolute;
  left: 0;
  width: 1040px; 
}

#wire1{
  top:79px;
}

#wire2{
  top:214px;
}

#wire3{
  top:364px;
}